<div class="columns reverse-order-mobile">
  <div class="column is-3">
    <%= render "shared/sidenav" %>
  </div>

  <div class="column">
    <h1 class="title">New Mistake</h1>

    <%= form_with(model: @mistake, local: true) do |form| %>
      <%= render "shared/error_messages", object: form.object %>

      <div class="field">
        <div class="control">
          <input-with-tags name="mistake[description]" placeholder="Describe your mistake"
            rows="5" content="<%= @mistake.description %>"></input-with-tags>
        </div>
      </div>

      <div class="columns">
        <div class="column is-3-desktop is-4-tablet">
          <div class="field">
            <%= form.label :description_rating %>
            <div class="control">
              <div class="select is-fullwidth">
                <%= form.select :description_rating, Mistake.rating_selection %>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-3-desktop is-4-tablet">
          <div class="field">
            <%= form.label :reminder_date %>
            <div class="control">
              <%= form.date_field :reminder_date, class: "input", placeholder: "YYYY-MM-DD" %>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= form.submit nil, class: "button is-link" %>
      </div>
    <% end %>
  </div>
</div>
